<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>shopIndex</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
    <div id="header">
        <div id="top">
                 <div class="wrapper">
                 <a href="#" id="login">LOGIN</a>
                 <div id="shop_cart"><a href="#">Cart: <span>$ 0.0</span>(<span>0</span>   items ) </a>
                 </div>
                 <div id="h_title">
                     <a href="#">NEW FASHIONS</a>
                 </div>
                 </div>
        </div>
        <ul id="nav" class="wrapper">
            <li class="active"><a href="javascript:;">HOME</a></li>
            <li><a href="#">WOMEN</a>
                <ul class="n_sub_menu">
                    <li><h5 class="n_sub_menu_header">SHOP</h5>
                        <div class="n_last_menu"><a href="">New Arrivals</a></div>
                        <div class="n_last_menu"><a href="">Men</a></div>
                        <div class="n_last_menu"><a href="">Women</a></div>
                        <div class="n_last_menu"><a href="">Accessories</a></div>
                        <div class="n_last_menu"><a href="">Kids</a></div>
                        <div class="n_last_menu"><a href="">Brands</a></div>
                    </li>
                    <li><h5 class="n_sub_menu_header">HELP</h5>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                    </li>
                    <li><h5 class="n_sub_menu_header">PRODUCTS</h5>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                    </li>
                    <li>
                        <h5 class="n_sub_menu_header">MY COMPANY</h5>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                    </li>
                    <li>
                        <h5 class="n_sub_menu_header">POPULAR</h5>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                    </li>
                </ul>
            </li>
            <li><a href="#">MEN</a>
                <ul class="n_sub_menu">
                    <li><h5 class="n_sub_menu_header">SHOP</h5>
                        <div class="n_last_menu"><a href="">New Arrivals</a></div>
                        <div class="n_last_menu"><a href="">Men</a></div>
                        <div class="n_last_menu"><a href="">Women</a></div>
                        <div class="n_last_menu"><a href="">Accessories</a></div>
                        <div class="n_last_menu"><a href="">Kids</a></div>
                        <div class="n_last_menu"><a href="">Brands</a></div>
                    </li>
                    <li><h5 class="n_sub_menu_header">HELP</h5>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                    </li>
                    <li><h5 class="n_sub_menu_header">PRODUCTS</h5>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                    </li>
                    <li>
                        <h5 class="n_sub_menu_header">MY COMPANY</h5>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                    </li>
                    <li>
                        <h5 class="n_sub_menu_header">POPULAR</h5>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                    </li>
                </ul></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">SHOP ONLINE</a>
                <ul class="n_sub_menu">
                    <li><h5 class="n_sub_menu_header">SHOP</h5>
                        <div class="n_last_menu"><a href="">New Arrivals</a></div>
                        <div class="n_last_menu"><a href="">Men</a></div>
                        <div class="n_last_menu"><a href="">Women</a></div>
                        <div class="n_last_menu"><a href="">Accessories</a></div>
                        <div class="n_last_menu"><a href="">Kids</a></div>
                        <div class="n_last_menu"><a href="">Brands</a></div>
                    </li>
                    <li><h5 class="n_sub_menu_header">HELP</h5>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                    </li>
                    <li><h5 class="n_sub_menu_header">PRODUCTS</h5>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                    </li>
                    <li>
                        <h5 class="n_sub_menu_header">MY COMPANY</h5>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                    </li>
                    <li>
                        <h5 class="n_sub_menu_header">POPULAR</h5>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                        <div class="n_last_menu"><a href=""></a></div>
                    </li>
                </ul></li>
        </ul>
        <div id="h_content">
                <div class="wrapper">
                    <h2>FASHION AND CREATIVITY</h2>
                    <p>
                        Sed dapibus est a lorem dictum, id dignissim lacus fermentum. Nulla ut nibh in libero maximus pretium Nunc vulputate vel tellus ac elementum. Duis nec tincidunt dolor, ac dictum eros.
                    </p>
                </div>
        </div>
    </div>
   <div id="banner">
       <div class="wrapper">
           <div>
               <a href=""><div class="b_sub"><h5>Fashion</h5><div>dignissim</div></div></a>
           </div>
           <div>
               <a href=""><div class="b_sub"><h5>Beauty</h5><div>fermentum</div></div></a>
           </div>
           <div>
               <a href=""><div class="b_sub"><h5>Creativity</h5><div>vulputate</div></div></a>
           </div>
       </div>
   </div>
    <div id="content">
        <div class="wrapper">
            <ul id="c_header">
                <li class="c_active">best seller</li>
                <li>popular</li>
                <li>new Arrivals</li>
            </ul>
            <ul id="c_content">
                <li>
                    <img src="../../assets/image/ab1.jpg" alt="">
                    <div class="c_footer">
                        <div class="c_price">
                            <h5>BELLE B&W</h5>
                            <p>$187.95</p>
                            <div><input type="text" /></div>
                            <button>add</button>
                        </div>
                    </div>
                </li>
                <li><img src="../../assets/image/ab1.jpg" alt=""> <div class="c_footer"></div></li>
                <li><img src="../../assets/image/ab1.jpg" alt=""> <div class="c_footer"></div></li>
                <li><img src="../../assets/image/ab1.jpg" alt=""> <div class="c_footer"></div></li>
                <li><img src="../../assets/image/ab1.jpg" alt=""> <div class="c_footer"></div></li>
                <li><img src="../../assets/image/ab1.jpg" alt=""><div class="c_footer"></div></li>
            </ul>
        </div>
    </div>
</body>
</html>