/*样式重置开始*/
*{
    margin:0;
    padding:0;
}
ul,ol{
    list-style:none;
}
a{
    text-decoration: none;
    color:white;

}
img{
    border:0;
}
/*样式重置结束*/
.wrapper{
    height:100%;
    width:1170px;
    margin:0 auto;
    position:relative
}
html,body{
    height:100%;
    width:100%;
    font-family: 'Arimo', sans-serif;
    font-size:16px;
}
/*header开始*/
#header{
    background:url("../images/banner33.jpg")  no-repeat 0;
    background-size:100% 100%;
    height:720px;
    width:100%;
    position:relative;
}
#top{
    height:100px;
    width:100%;
    line-height:100px;

}
#login{
    float:left;
    color:white;
    font-size: 14px;
    font-weight: 600;
    padding: 0 8px;
}
#shop_cart{
    position:absolute;
    top:50%;
    right:0;
    height:42px;
    width:269px;
    background:rgba(55, 55, 55, 1) url(../images/cart.png)
    no-repeat 80%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#shop_cart>a{
        display:block;
        width:100%;
        height:100%;
        line-height:42px;
        margin-left:20px;
}
#h_title{
    width:100%;
    text-align: center;
}
#h_title>a{
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
#nav{
    display: flex;
    height:39px;
}
#nav>li{
    background:#fa558f;

}
#nav>li:last-child{
    flex:1;
}
#nav>li.active{
    background: #3C3B3B;
}
#nav>li:not(:first-child):hover{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}
#nav>li>a{
    float: left;
    padding: 8px 63.1px;

}
#nav>li:last-child>a{
        width:100%;
        box-sizing: border-box;
}
.n_sub_menu{
    position:absolute;
    height:290px;
    width:100%;
    background:#ffffff;
    left:0;
    margin-top:39px;
  /*  display: flex;*/
    padding:10px 10px;
    box-sizing: border-box;
    columns:5;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -ms-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s  ease-in-out ;
    opacity: 0;
    display: none;

}
#nav>li:hover .n_sub_menu{
    opacity: 1;
    display:block;
}
.n_sub_menu>li{
    height:100%;
    display: flex;
    flex-direction: column;
}
.n_sub_menu_header{
    border-bottom: 1px solid rgb(236, 236, 236);
    font-size: 16px;
    color: #000;
    line-height: 1.8rem;
    text-transform: uppercase;

}
.n_last_menu{
    flex: 1;
}
.n_last_menu a{
    display: inline-block;
    height:100%;
    width:100%;
    transition: all 0.3s ease-in-out;
    line-height: 2.5rem;
    color: #999;
}
.n_last_menu a:hover{
    color: #ef8743;
    text-decoration: underline;
}
#h_content{
    position:absolute;
    width:100%;
    top:50%;
    left:50%;
    margin-top:-80px;
    margin-left:-50%;
    height:160px;
}
#h_content h2{
    margin:0 auto;
    height:80px;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color:white;
}
#h_content p{
    width:55%;
    margin:0 auto;
    font-size: 1.15rem;
    font-weight: 400;
    color:white;
}
/*header结束*/
#banner{
    height:210px;
    margin-top:55px;
    width:100%;
}
#banner>.wrapper{
    display: flex;

}
#banner>.wrapper>div{
    flex: 1;
    background: url("../images/bg1.jpg") no-repeat;
    margin-right:25px;

}

#banner>.wrapper>div a{
    display: block;
    height:100%;
    width:100%;
    position: relative;
}

.b_sub{
    position:absolute;
    bottom: 0;
    right:0;
    height:100px;
    box-sizing: border-box;
    padding:10px 10px;
}
.b_sub h5{
    color: #fff;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
}
.b_sub div{
    text-align: right;
}

@keyframes fadeIn {
    from{
        background:#fa558f;
        opacity: 1;
    }to{background: #3C3B3B;
         opacity:1;
         }
}
#c_header{
    float:right;
    margin-top:50px;
}
#c_header li{
    text-transform: capitalize;
    float:left;
    margin-right:20px;
    text-align: center;
    height:30px;
    cursor: pointer;
    background: #fa558f;
    color:white;
    padding:0 10px;
    line-height:30px;
    font-size:0.9rem;
    overflow: hidden;
}
#c_header li.c_active{
    background: #333;
}
#c_content{
    width:1200px;
    padding-top:20px;
    overflow: hidden;
}
#c_content>li{
    float:left;
    width:29%;
    margin-right: 3%;
    margin-bottom:20px;
}
#c_content>li>img{
    width: 100%;
    border: 1px solid #E7E7E7;
}
#c_content>li>.c_footer{
    height:200px;
    background: #eaeaea;
    width:100%;
    margin-top:-5px;
    border: 1px solid #eaeaea;
    position:relative;
}
.c_price{
    width:192px;
    box-sizing: border-box;
    position:absolute;
    padding:10px 20px;
}
.c_price h5{
    color: #000;
    font-weight: 400;
    font-size: 1.2rem;
}
.c_price p{
    color: #000;
    font-weight: 600;
    font-size: 1.7em;
}
.c_footer input{
    margin-top:10px;
    height:20px;
    width:150px;
    outline: none;
}
.c_footer button{
    margin-top:10px;
    height:45px;
    width:90px;
    outline: none;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    display: inline-block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #ef8743;
    border: none;
    outline: none;
    cursor:pointer;
    text-transform: uppercase;
}
#c_loading{
    width: 100%;
    height:100px;
    background:url("../images/loading.gif") no-repeat center;
}
#c_loadMore{
    height:50px;
    width:300px;
    border:1px solid black;
    margin:0 auto;
    line-height:50px;
    text-align:center;
    cursor:pointer;
    display:none;
}
#c_load_end{
    color:rgba(0,0,0,.6);
    text-align:center;

}
#contact{
    height:500px;
    background-image:url('../images/banner2.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    margin:20px 0 0 0;
    padding:80px 0 0 0;
}
#contact>.wrapper>div{
    padding:20px 0 0 0;
    float:left;
    width:50%;
    height:100%;
    position:relative;
}
.f_l_h{
    overflow: hidden;
}
.f_l_h>li{
    float:left;
    width:49%;
    height:25px;
}
.f_l_h>li>a{
    margin-bottom:5px;
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
    color: #F6F3F3;
    font-weight: 300;
}
.f_l_h>li>a:hover{
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
}
.f_l_b{
    width:100%;

}
.f_l_b_d{
    text-transform:uppercase;
    color:white;
    margin-top:30px;
}
.f_l_b_c{
    height:40px;
    width:100%;
    margin-top:30px;
}
.f_l_b_c>li{
    float:left;
    height:39px;
    width:39px;
    background-image:url('../images/social.png');
    background-repeat:no-repeat;
}
.f_l_b_c>li:hover{
    background-position-y:-36px;
}
.f_l_b_c>li>a{
    height:100%;
    width:100%;
    float:left;
}



.f_r li{
    overflow: hidden;
}
.f_r_t>span{
    width:39%;
    height:50px;
    float:left;
    margin-right:11%;
}
.f_r_t>span>input{
    width:100%;
    border: 1px solid #fff;
    color: #F6F3F3;
    outline: 0;
    padding: 0.8rem 1rem;
    background: transparent;
    font-weight: 300;

}
.f_r_t input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color: #F6F3F3;
    font-weight: 300;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
    color: #F6F3F3;
    font-weight: 300;
}
input::-moz-placeholder,textarea:-moz-placeholder{
    color: #F6F3F3;
    font-weight: 300;
}
.f_r_c{
    width:100%;
    height:180px;
    margin-top:30px;
}
.f_r_c>textarea{
    border: 1px solid #fff;
    color: #F6F3F3;
    outline: 0;
    padding: 0.8rem 1rem;
    background: transparent;
    font-weight: 300;
    width:89%;
    height:80%;
}
.f_r_b{
    height:100%;
    width:100%;
    margin-top:20px;
    text-align: center;
}
.f_r_b>button{
    outline: 0;
    color: #fff;
    font-weight: 300;
    font-size: 1.1rem;
    background: #ef8743;
    padding: 0.8rem 3rem;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border: 2px solid #ef8743;
    height:50px;
    width:150px;
    margin:0 auto;
    cursor:pointer;
}